
<!--  div class="input-append">
	<input style="width: 358px; margin-left: 100px;" class="span2"
		type="text" ng-model="ticketName" required min="1" />
	<button class="btn btn-primary" ng-disabled="!ticketName"
		ng-click="addNewTicket(ticketName)">Add Ticket</button>

</div-->
<h3 style="margin-left: 100px;">Ticket List</h3>
<div class="alert alert-info" style="width: 400px; margin-left: 100px;"
	ng-show="tickets.length == 0">No tickets found</div>
<table class="table table-bordered table-striped"
	style="width: 450px; margin-left: 100px;" ng-show="tickets.length > 0">
	<thead>
		<tr>
			<th style="text-align: center; width: 25px;">Action</th>
			<th style="text-align: center;">Ticket Name</th>
			<th style="text-align: center;">Created Date</th>
			<th style="text-align: center;">Application</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="ticket in tickets">
			<td style="width: 100px; text-align: center;">
			<a href="#/tickets/viewTicket/{{ticket.ticketId}}">View</a></td>
			<td>{{ticket.ticketDescription}}</td>
			<td>{{ticket.createdDate}}</td>
			<td>{{ticket.applicationName}}</td>
		</tr>
	</tbody>
</table>

<button style="margin-left: 100px;" class="btn btn-danger"
	ng-show="tickets.length > 1" ng-click="removeAllTickets()">Remove
	All Tickets</button>